:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --bg-asset: #222222;
  --bg-container: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}
strong {
  font-weight: bold;
  color: #fb0;
}
